// Important imports
@import "fonts";
@import "mixins";
@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    @extend html;
    box-sizing: border-box;
}

#site-border {
    @extend html;
    border: 15px solid $black;
    box-sizing: border-box;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

#content {
    box-sizing: border-box;
    padding: 0 3.5em 4em 3.5em;
}

@import "site/header";
@import "site/form";
@import "site/signup";
@import "site/list";
@import "site/single";
@import "site/window";
@import "site/pagination";