// Important imports
@import "fonts";
@import "mixins";
@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    @extend html;
    border: 15px solid $black;
    box-sizing: border-box;
}

@import "site/header";
@import "site/form";
@import "site/signup";