#app-header {
    @include paragraph();
    box-sizing: border-box;
    padding: 3em 3.5em 0 3.5em;

    h1 {
        color: $black;
        display: inline-block;
        font-size: 3em;
        margin: 0;
        padding: 0;

        a {
            @include transitions(color .3s);
            color: $black;
            text-decoration: none;
            &:active,
            &:hover,
            &:focus {
                color: $green500;
            }
        }
    }

    #user-panel {
        display: inline-block;
        float: right;
        padding: 1.85em 0 0 0;

        a {
            @include transitions(color .3s, border-color .3s);
            border-bottom: 1px solid $white;
            color: $black;
            text-decoration: none;
            &:active,
            &:hover,
            &:focus {
                border-color: $green500;
                color: $green500;
            }

            &:last-of-type {
                margin-left: .65em;
            }
        }
    }

    #search-form {
        margin: 2em 0 0 0;

        input {
            border-width: 2px;
        }
    }
}