.list {
    @include paragraph;
    margin: 2em 0 0 0;

    header {
        margin: 0 0 1.5em 0;
    }

    a {
        color: $black;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            color: $green500;
        }

        &.book-name {
            text-decoration: underline;
        }
    }

    table {
        border: 1px solid $black;
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        background: $black;
        color: $white;
        font-weight: 400;
    }

    th {
        font-size: .95em;
        font-weight: normal;
        padding: 1em;
        text-align: left;

        &.book-name {
            width: 35%;
        }
        &.book-author {
            width: 11%;
        }
        &.book-publisher {
            width: 15%;
        }
        &.book-medium {
            width: 8%;
        }
        &.book-shelf {
            width: 11%;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: lighten($black, 85%);
            }
        }
    }

    td {
        padding: 1em;
    }

    h2.section-title {
        font-size: 2em;
        color: $black;
        margin: 1.5em 0 0 0;
    }
}