.list {
    @include paragraph;
    margin: 2em 0 0 0;

    header {
        margin: 0 0 1.5em 0;
    }

    a {
        color: $black;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            color: $green500;
        }

        &.book-name {
            text-decoration: underline;
        }
    }

    table {
        border: 1px solid $black;
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        background: $black;
        color: $white;
        cursor: default;
        font-weight: 400;
    }

    th {
        font-size: .95em;
        font-weight: normal;
        padding: 1em;
        text-align: left;
        position: relative;

        &.book-name {
            width: 35%;
        }
        &.book-author {
            width: 11%;
        }
        &.book-publisher {
            width: 15%;
        }
        &.book-medium {
            width: 8%;
        }
        &.book-shelf {
            width: 11%;
        }

        a {
            color: $white;
            text-decoration: none;
            vertical-align: middle;

            &:active,
            &:hover,
            &:focus {
                outline: none;
                color: $green500;
            }
        }

        .fa {
            color: darken($white, 60%);
            display: inline-block;
            font-size: .8em;
            margin: 0 .4em 0 0;
            vertical-align: middle;

            &.fa-sort-asc,
            &.fa-sort-desc {
                color: $white;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: lighten($black, 85%);
            }
        }
    }

    td {
        padding: 1em;
    }

    h2.section-title {
        font-size: 2em;
        color: $black;
        margin: 1.5em 0 0 0;
    }
}