#sign-up,
#sign-in {
    margin: 10% auto 0;
    width: 400px;

    .has-error {
        color: $red500;
        border-color: $red500;
    }

    label {
        @include heading;
        color: $green700;
        display: block;
        font-size: .85em;
        margin: 0 0 .5em 0;
    }

    input {
        @include paragraph;
        border: none;
        border-bottom: 1px solid $black;
        display: block;
        font-size: 1em;
        margin: 0 0 2em 0;
        width: 100%;

        &:active,
        &:hover,
        &:focus {
            border-color: $green500;
            outline: none;
        }
    }

    button,
    .button {
        @include paragraph;
        @include transitions(background-color .3s, color .3s);
        background-color: $black;
        border: none;
        border-radius: 0.3em;
        color: $white;
        cursor: pointer;
        font-size: .85em;
        padding: 1em 1.5em;
        text-decoration: none;

        &.secondary {
            background-color: $white;
            color: $black;
            margin: 0 0 0 .5em;
        }

        &:active,
        &:hover,
        &:focus {
            background-color: $green500;
            color: $black;
            outline: none;
        }
    }
}