.single {
    @include paragraph;
    margin: 2em 0 0 0;

    h2.section-title {
        font-size: 2em;
        color: $black;
        margin: 2em 0 1em 0;
    }

    h3 {
        border-bottom: 2px solid $black;
        padding: 0 0 .5em 0;
        margin-bottom: 1em;
    }

    p {
        margin: 1em 0 2em 0;
        min-width: 600px;
        width: 70%;
    }

    ul {
        list-style: none;
        margin: 0 0 4em 0;
        padding: 0;
    }

    a {
        @include transitions(color .3s, border-color .3s, background-color .3s);
        color: $black;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
            color: $green500;
            outline: none;
        }

        &.book-name {
            text-decoration: underline;
        }

        &.tag {
            background: $green850;
            border: 1px solid $green750;
            padding: .5em;

            &:hover {
                background: $white;
            }
        }
    }

    .edit-book {
        margin: 2em 0 0 0;
        display: block;
    }

    .link-section {
        margin: 1em 0 0 0;
    }
}

#book-details {
    display: flex;
    flex-direction: row;
}

#book-descripton {
    flex-basis: 0;
    display: inline-block;
    vertical-align: top;
}

#book-cover {
    flex-basis: 0;
    display: inline-block;
    margin: 1.15em 1.5em 0 0;
    vertical-align: top;

    img {
        border: 2px solid lighten($black, 70%);
    }
}